html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #000000;
    text-align: center;
}
.contactform{
    text-align: left; 
    margin-left: 400px;
}

.contactform label {
    width: 300px;
    align-items: center;
    font-size: 25px;
    color: white;
}

.contactform .field-validation-error {
    color: red;
    margin-left: 10px;
}

h1 {
    color: azure;
    font-size: 50px;
}

p {
    color: azure;
    font-size: 30px;
}

@media (min-width: 768px) {
}

header {
    background: #FAC125;
}

nav ul {
    margin-left: 12%;
    margin-right: auto;
}

nav li {
    display: incline-block;
    height: 100%;
    width: 10%;
    margin-left: 180px;
    text-align: center;
}

    nav li a {
        font-family: 'Inter', sans-serif;
        font-size: 30px;
        text-decoration: none;
    }

li:hover a {
    fill: #000000;
    background: #E1A605;
    border-radius: 5px;
}

.avatar {
    width: 300px;
    height: 424px;
    align-content: center;
}

.johnwick4 {
    width: 300px;
    height: 424px;
}

.gotg3 {
    width: 300px;
    height: 424px;
}

.mario {
    width: 300px;
    height: 424px;
}

.topgun {
    width: 300px;
    height: 424px;
}

.puss {
    width: 300px;
    height: 424px;
}


.TitelFilm {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 40px;
}

.DescriptionFilm {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    float: right;
}

.PosterFilm {
    width: 300px;
    height: 424px;
    align-content: center;
}

.CastFilm {
    font-family: 'Inter', sans-serif;
    color: white;
}

.AgeFilm {
    width: 40px;
    height: auto;
}
