html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.contactform label {
    width: 100px;
}

.contactform .field-validation-error {
    color: red;
    margin-left: 10px;
}