html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

header {
    background: #FAC125;
}

nav ul{
    margin-left: 12%;
    margin-right: auto;
}

nav li {
    display: incline-block;
    height: 100%;
    width: 10%;
    margin-left: 180px;
    text-align: center;
}

nav li a{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    text-decoration: none;
}

li:hover a {
    fill: #000000;
    background: #E1A605;
    border-radius: 5px;
}

.avatar{
    width: 260px;
    height: 370px;
    align-content: center;
}

.johnwick4{
    width: 300px;
    height: 424px;
}

.gotg3 {
    width: 300px;
    height: 424px;
}

.mario {
    width: 300px;
    height: 424px;
}

.topgun {
    width: 300px;
    height: 424px;
}

.puss {
    width: 300px;
    height: 424px;
}




html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #000000;
}

.contactform label {
    width: 100px;
}

.contactform .field-validation-error {
    color: red;
    margin-left: 10px;
}

.TitelFilm {
    color: white;
    font-size: 40px;
}

.DescriptionFilm{
    color: white;
    font-size: 20px;
}

.PosterFilm{
    color: white;
}

.CastFilm{
    color: white;
}

.AgeFilm{
    color: white;
}