<a href="detail?filmName=avatar"><img class="avatar" src="Images/avatar.jpg" /></a>
<a href="detail?filmName=johnwick4"><img class="johnwick4" src="Images/johnwick4.jpg" /></a>
<a href="detail?filmName=gotg3"><img class="gotg3" src="Images/gotg3.png" /></a>
<br/>
<a href="detail?filmName=mario"><img class="mario" src="Images/mario.jpg" /></a>
<a href="detail?filmName=topgun"><img class="topgun" src="Images/topgun.jpg" /></a>
<a href="detail?filmName=puss"><img class="puss" src="Images/puss.jpg" /></a>


<body onload="checkCookie()"></body>
