@{
    ViewData["Title"] = "Over Ons";
}
<h1>@ViewData["Title"]</h1>

<p>Over Ons
   Welkom bij Cinemaos, dé bioscoop van de toekomst.<br/> De films zullen bij ons 24/7 draaien, waardoor u op elke tijd de nieuwste films kunt bekijken.<br/> Wij bieden niet alleen nieuwe films aan, maar ook oude klassiekers komen terug op het doek.<br/> U kunt ons hieronder vinden!</p> 

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19617.119238768108!2d4.277087874316413!3d52.077183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b72398163105%3A0xcfbe2c78cb60920a!2sPath%C3%A9%20Spuimarkt!5e0!3m2!1snl!2snl!4v1686564268174!5m2!1snl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>"> 
